---
import { getImage } from 'astro:assets';
import templeRaw from '../assets/images/temple.webp';
import opengraphTestImage from '../assets/images/yan-opengraph-test.png';

interface Props {
  title: string;
  description?: string;
}

const { title, description = "Yan's art gallery" } = Astro.props;
const bg = await getImage({ src: templeRaw, format: 'webp' });
const og = await getImage({ src: opengraphTestImage, format: 'webp', width: 1200, height: 630 });

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImage = new URL(og.src, Astro.site).href;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/icon.png" type="image/png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Urbanist:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>

    <!-- social images for discord preview -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={socialImage} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={socialImage} />

    <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js" defer></script>
  </head>
  <body>
    <div class="bg-blur" style={`background-image: url(${bg.src})`} aria-hidden="true"></div>
    <slot />
  </body>
</html>

<style is:global lang="scss">
  @use '../styles/global.scss';
</style>
